export HELIUS_API_KEY=
export ACCOUNTS=6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P
export EXCLUDED_ACCOUNTS=FLASHX8DrLbgeR8FcfNV1F5krxYcYMUdBkrP1EPBtxB9,DF1ow4tspfHX9JwWJsAb9epbkA8hmpSEAtxXy1V27QBH,proVF4pMXVaYqmy4NjniPh4pqKNfMmsihgd4wdkCX3u
export COMMITMENT=confirmed   # or processed/finalized

export HELIUS_WS_URL=wss://atlas-mainnet.helius-rpc.com/
export INCLUDE_FAILED=false
export INCLUDE_VOTES=false
export PING_SECS=30

export RUST_LOG=debug
export REDIS_URL=redis://127.0.0.1:6379/1

#export TOKIO_WORKER_THREADS=1